@tailwind base;
@tailwind components;
@tailwind utilities;

/* .no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* div {
  background-color: #00000031
} */

/* body {
  background-color: #fdf0d5;
  color: #003049;
} */
